/build/
*.dcu
*.identcache
*.local
*.dsk
*.stat
*.tvsconfig
__history/
__recovery/

/fmx/Win32/Debug/*
*.dsv
*.pyc
/tests/fixtures/*
/tests/*
/fmx/Linux64/*
*.~*
/fmx/Win64/*
/fmx/Android64/*
/fmx/Win32/*
/fmx/iOSSimARM64/*
/fmx/OSX64/*
/fmx/OSXARM64/*
*.exe
/source/cores/md/COMPATIBILITY.md
/source/cores/md/LICENSE.clowncommon.txt
/source/cores/md/LICENSE.txt
/source/cores/md/README.md
/term/Win32/*
/tools/*
/MULTICORE_AUDIT.md
